/* form.component.scss */

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
p-calendar {
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}