<p-toolbar styleClass="custom-toolbar">
    <ng-template pTemplate="left">
        <button pButton type="button" label="Ajouter" icon="pi pi-plus" (click)="openDialog('add')" class="p-button-success custom-button"></button>
        <button pButton type="button" label="Voir" icon="pi pi-search" (click)="openDialog('consult')" [disabled]="!selectedLentille" class="p-button-info custom-button"></button>
        <button pButton type="button" label="Modifier" icon="pi pi-pencil" (click)="openDialog('modify')" [disabled]="!selectedLentille" class="p-button-warning custom-button"></button>
        <button pButton type="button" label="Supprimer" icon="pi pi-trash" (click)="openDialog('delete')" [disabled]="!selectedLentille" class="p-button-danger custom-button"></button>
    </ng-template>
</p-toolbar>

<p-table [value]="lentilles" selectionMode="single" [(selection)]="selectedLentille" (onRowSelect)="enableButtons()">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Fournisseur</th>
            <th>Marque</th>
            <th>Prix Vente</th>
            <th>Rayon</th>
            <th>Stock</th>
            <th>Sph</th>
            <th>Désignation</th>
            <th>Couleur Lentille</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lentille>
        <tr [pSelectableRow]="lentille">

            <td>{{ lentille.code }}</td>
            <td>{{ lentille.fournisseur }}</td>
            <td>{{ lentille.marque }}</td>
            <td>{{ lentille.prixVente }}</td>
            <td>{{ lentille.rayon }}</td>
            <td>{{ lentille.stock }}</td>
            <td>{{ lentille.sph }}</td>
            <td>{{ lentille.designation }}</td>
            <td>{{ lentille.couleurLentille }}</td>
        </tr>
    </ng-template>
</p-table>

<app-lens-dialog [dialogType]="currentDialogType" [selectedLentille]="selectedLentille" [(visible)]="isDialogVisible" (onAdd)="handleAdd($event)" (onModify)="handleModify($event)" (onDelete)="handleDelete($event)">
</app-lens-dialog>